<div class="kt-portlet lista">

	<div class="kt-portlet__head lista-header"></div>

	<div class="kt-portlet__body body-list">

		<div class="kt-section">
			<div class="kt-section__content" style="height: 500px; overflow-y: scroll;">
				<table class="table table-striped filtro">
					<thead>
						<tr>
							<th>IDENTIFICADOR</th>
							<th>DESCRICAO</th>
							<th>STATUS</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="categoria : ${categorias}" style="cursor: pointer;">
							<th scope="row"><span class="foto-lista"> <img src="./assets/img/user/default.jpg" th:src="@{/img/user/default.jpg}">
								</span> <span class="nome-lista" th:text="${categoria.codigo}"> </span>
							</th>
							<td>
								<h6 th:text="${categoria.descricao}"></h6>
							</td>
							<td>
								<h6 th:text="${categoria.status}"></h6>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="botao-lista">
				<button type="button" class="btn btn-brand btn-circle btn-icon btn-adicionar-contato" data-toggle="kt-tooltip" data-placement="right" data-original-title="Adicionar contato" onclick="abrirModalCategoriaCliente()">
					<i class="fa fa-plus"></i>
				</button>
			</div>

		</div>

	</div>

</div>
<div class="modal fade modal-cliente" id="modal-categoriaCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="overflow-y: scroll;">
            <div class="modal-header modal-cliente-header">
                <div class="kt-widget__head">

					<div class="kt-avatar kt-avatar--outline kt-avatar--circle img-perfil-modal">
						<div class="kt-avatar__holder" style="background-image: url(img/user/default.jpg);"></div>
						
							<label class="kt-avatar__upload" data-toggle="kt-tooltip" data-placement="right" data-original-title="Editar">
								<i class="fa fa-pen" style="right: -15%!important;"></i>
								<input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg">
							</label>
							
						</div>
					</div>	

                	<button type="button" class="close fechar-modal-cliente" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            	<form action="" method="" class="form-cliente">
					
					<div id="formulario-categoriaCliente">						
					<label for="codigo">Codigo</label>
					<input class="form-control" type="text" name="codigo" id="codigo" maxlength="14">
				
					<label for="nome">Descricao</label>
    				<input class="form-control" type="text" name="descricao" id="descricao">

    				<label for="nome">Status</label>
					<input class="form-control" type="text" name="status" id="status">					
					
					</div>		

				</form>
                
            </div>
            <div class="modal-footer d-flex">
            	
                <button type="button" class="btn btn-secondary btn-cancelar p-2" data-dismiss="modal" style="padding: 0.65rem 1rem!important;" onclick="zerarTodosOsCampos()">Cancelar</button>
                <button type="button" class="btn btn-primary btn-cadastrar p-2" onclick="cadastrarCategoriaCliente()" data-dismiss="modal">Cadastrar</button>
            </div>
        </div>
    </div>
</div>
<script>
var dominio = window.location.origin;
/* 	var url = window.location.origin;

	var nomePath = window.location.pathname;

	var array = nomePath.split("/"); */
	
	/* var url = window.location.origin;
	var nomePath = window.location.pathname;
	var array = nomePath.split("/");
	var dominio = url+"/"+array[1];
 */
	//var dominio = url+"/"+array[1];
$( document ).ready(function() {
	
	function abrirModalCategoriaCliente(){
		$('#modal-categoriaCliente').modal('show');
		
	}
	
	
	
	
});
function cadastrarCategoriaCliente(){
	var objeto = new Object();
	objeto.codigo = $("#codigo").val();
	objeto.descricao = $("#descricao").val();
	objeto.status = $("#status").val();
	
	var categoriaClienteJSON = JSON.stringify(objeto);
	$.ajax({
		type: "POST",
		url: dominio + "/categoriaREST/cadastrarCategoria",
		data: categoriaClienteJSON,
		contentType: "application/json",
		dataType: "JSON",
		async: false,
		success: function (response) {
			//$('#modal-categoriaCliente').modal('hide').delay(100);
			//zerarTodosOsCampos();	
			setTimeout(function(){ $("#central").load(dominio + "/parametrizacao/listarCategorias"); }, 1000);
			
			}
		});
}
</script>