<div class="kt-portlet lista">

	<div class="kt-portlet__head lista-header"></div>

	<div class="kt-portlet__body body-list">

		<div class="kt-section">
			<div class="kt-section__content">
				<table class="table table-striped filtro">
					<thead>
						<tr>
							<th>DESCRICAO</th>
							<th>STATUS</th>
							<th>NIVEL DE INSTRUCAO</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="produto : ${produtos}" style="cursor: pointer;">
							<th scope="row"><span class="foto-lista"> <i
									class="fa fa-2x fa-suitcase"></i>
							<input type="hidden" id="produtoId" name="produtoId" th:value="${produto.id}">
							</span> <span class="nome-lista" th:text="${produto.descricao}"> </span></th>
							
							<td>
								<div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate bootstrap-switch-on" id="switchStatus" style="width: 106px;">
									<div class="bootstrap-switch-container" id="switchMover" style="width: 185px;margin-left: 0px;" th:style="${(produto.status).equals('1')} ? 'width: 185px; margin-left: 0px;' : 'width: 185px; margin-left: -80px;'">
										<span class="bootstrap-switch-handle-on bootstrap-switch-success" style="width: 52px;">Ativo</span>
										<span class="bootstrap-switch-label" style="width: 52px;padding-left: 14%;">&nbsp;</span>
										<span class="bootstrap-switch-handle-off bootstrap-switch-danger" style="width: 52px;padding-left: 15px;">Inativo</span>
										<input type="checkbox" th:checked="${(produto.status).equals('1')} ? 'true' : 'false'">
								     	<input type="hidden" id="status" name="status" th:value="${produto.status}">
									</div>
								</div>
							</td>							
							
							<td>
								<h6 th:text="${produto.nivelInstrucao.descricao}"></h6>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="botao-lista">
				<button type="button"
					class="btn btn-brand btn-circle btn-icon btn-adicionar-contato"
					data-toggle="kt-tooltip" data-placement="right"
					data-original-title="Adicionar contato">
					<i class="fa fa-plus"></i>
				</button>
			</div>

		</div>

	</div>

</div>

<script>

$( document ).ready(function() {

	$(function(){  
	    $("#central > div > div.kt-portlet__body.body-list > div > div.kt-section__content > table > tbody > tr").hover(
	        function(){$(this).css("background-color", "#EBEDFF")},
	        function(){$(this).css("background-color", '')}
	    );
	});	
	
	$("#central > div > div.kt-portlet__body.body-list > div > div.kt-section__content > table > tbody > tr").click(function(){
		var idCliente = $(this).find('#clienteId').val();
		carregarDetalheCliente(idCliente); //Método se encontra dentro de paginas -> cliente -> index.html 
	});
	
});
</script>