<div class="kt-portlet lista">

	<div class="kt-portlet__head lista-header"></div>

	<div class="kt-portlet__body body-list">

		<div class="kt-section">
			<div class="kt-section__content">
				<table class="table table-striped filtro">
					<thead>
						<tr>
							<th>NOME</th>
							<th>FASE ATUAL</th>
							<th>ATIVIDADES AGENDADAS</th>
							<th>CLIENTE RELACIONADO</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row"><span class="foto-lista"> <i
									class="fa fa-2x fa-suitcase"></i>
							</span> <span class="nome-lista"> Contrato para ADS </span></th>
							<td>
								<h6>Novo</h6>
							</td>
							<td>
								<h6>...</h6>
							</td>
							<td>
								<h6>Maria dos Santos Ribeiro</h6>
							</td>
						</tr>
						<tr>
							<th scope="row"><span class="foto-lista"> <i
									class="fa fa-2x fa-suitcase"></i>
							</span> <span class="nome-lista"> Contrato para Design </span></th>
							<td>
								<h6>Perdeu</h6>
							</td>
							<td>
								<h6>...</h6>
							</td>
							<td>
								<h6>João da Cruz</h6>
							</td>
						</tr>
						<tr>
							<th scope="row"><span class="foto-lista"> <i
									class="fa fa-2x fa-suitcase"></i>
							</span> <span class="nome-lista"> Contrato para Hotelaria </span></th>
							<td>
								<h6>Ganhou</h6>
							</td>
							<td>
								<h6>...</h6>
							</td>
							<td>
								<h6>Everton Souza</h6>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="botao-lista">
				<button type="button"
					class="btn btn-brand btn-circle btn-icon btn-adicionar-contato"
					data-toggle="kt-tooltip" data-placement="right"
					data-original-title="Adicionar contato">
					<i class="fa fa-plus"></i>
				</button>
			</div>

		</div>

	</div>

</div>