<meta charset="UTF-8">
<div class="kt-subheader   kt-grid__item" id="kt_subheader">

    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" style="display: initial!important;">

        <div class="col-md-12 text-center">
            <span><h4>Relatório de índice de ações registradas nos clientes (percentual máximo)</h4></span>

        </div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <figure class="chart" id="circle" data-percent="75">
                    <svg>
						<circle class="inner" cx="1.5%" cy="52%" r="40%" transform="rotate(-90, 95, 95)" />
						<circle class="outer" cx="1.5%" cy="52%" r="40%" transform="rotate(-90, 95, 95)" />
					</svg>

                    <figcaption>
                        <h2>34%</h2>
                        <p>Refugiados<br> nas <br>Américas</p>
                    </figcaption>
                </figure>
            </div>

            <div class="col-md-4"></div>
        </div>

        <div class="col-md-12 text-center">
            <span><h4>Relatório de Ofertas em cada etapa do funil</h4></span>

        </div>
        <div class="row">
            <div class="column-graph">
                <hr class="esq">
                <hr class="bot">
                <div class="column gringo" id="graficoBarrasEstilo" th:each="ofertaEtapa : ${ofertasPorEtapa}">
                    <div style="margin-left: -160px;padding-top: 1.5%;">
                        <div style="height: 19px;">
                            <div style="float: right;margin-right: 65px;">Teste</div>
                        </div>
                        <div style="width: 150px;text-align: end;" th:text="${ofertaEtapa.descricao}"></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<script>
    window.onload = function() {



        $("#kt_subheader > div > div:nth-child(4) > div > div:nth-child(3)").css('width', '50%');
    }
</script>