<meta charset="UTF-8">
<div class="row kanban-dragdrop ui-sortable" id="kt_sortable_portlets">

	<div class="col-md-2 col-lg-2 coluna">

		<div class="header-coluna">
			<div class="row">
				<h6 class="col-md-12 text-center">NOVO</h6>
			</div>
			<div class="row">
				<h6 class="col-md-5">
					<span id="qtd-negocios">4</spam>&nbsp;Negócios 
				</h6>
				<h6 class="col-md-2">
					<span id="qtd-negocios"> -> </spam>
				</h6>
				<h6 class="col-md-5 text-left">
					<span id="qtd-negocios">R$ 1250</spam>
				</h6>
			</div>
		</div>

		<div class="content-coluna">

			<!-- CARD -->
			<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban" style="border-radius: 10px;">

				<div class="row" style="margin: 0px; border-radius: 10px; padding: 0px; background-color: #838849;">
					<div class="col-md-4 mt-2">
						<i class="la fa fa-suitcase"></i>
					</div>
					<div class="col-md-8 mt-2">
						<p class="text-left font-weight-bold mb-2">Negócio da Maria</p>
						<p class="text-left">R$ 799,00</p>
					</div>
					<div class="col-md-4 mb-2">
						<i class="la flaticon2-user"></i>
					</div>
					<div class="col-md-8 mt-3">
						<p class="text-left font-weight-bold mb-0">4 Atividades</p>
					</div>


				</div>
			</div>
			<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban" style="border-radius: 10px;">

				<div class="row" style="margin: 0px; border-radius: 10px; padding: 0px; background-color: #838849;">
					<div class="col-md-4 mt-2">
						<i class="la fa fa-suitcase"></i>
					</div>
					<div class="col-md-8 mt-2">
						<p class="text-left font-weight-bold mb-2">Negócio da Maria</p>
						<p class="text-left">R$ 799,00</p>
					</div>
					<div class="col-md-4 mb-2">
						<i class="la flaticon2-user"></i>
					</div>
					<div class="col-md-8 mt-3">
						<p class="text-left font-weight-bold mb-0">4 Atividades</p>
					</div>


				</div>
			</div>
			<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban" style="border-radius: 10px;">

				<div class="row" style="margin: 0px; border-radius: 10px; padding: 0px; background-color: #838849;">
					<div class="col-md-4 mt-2">
						<i class="la fa fa-suitcase"></i>
					</div>
					<div class="col-md-8 mt-2">
						<p class="text-left font-weight-bold mb-2">Negócio da Maria</p>
						<p class="text-left">R$ 799,00</p>
					</div>
					<div class="col-md-4 mb-2">
						<i class="la flaticon2-user"></i>
					</div>
					<div class="col-md-8 mt-3">
						<p class="text-left font-weight-bold mb-0">4 Atividades</p>
					</div>


				</div>
			</div>
			<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban" style="border-radius: 10px;">

				<div class="row" style="margin: 0px; border-radius: 10px; padding: 0px; background-color: #838849;">
					<div class="col-md-4 mt-2">
						<i class="la fa fa-suitcase"></i>
					</div>
					<div class="col-md-8 mt-2">
						<p class="text-left font-weight-bold mb-2">Negócio da Maria</p>
						<p class="text-left">R$ 799,00</p>
					</div>
					<div class="col-md-4 mb-2">
						<i class="la flaticon2-user"></i>
					</div>
					<div class="col-md-8 mt-3">
						<p class="text-left font-weight-bold mb-0">4 Atividades</p>
					</div>


				</div>
			</div>
			<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban" style="border-radius: 10px;">

				<div class="row" style="margin: 0px; border-radius: 10px; padding: 0px; background-color: #838849;">
					<div class="col-md-4 mt-2">
						<i class="la fa fa-suitcase"></i>
					</div>
					<div class="col-md-8 mt-2">
						<p class="text-left font-weight-bold mb-2">Negócio da Maria</p>
						<p class="text-left">R$ 799,00</p>
					</div>
					<div class="col-md-4 mb-2">
						<i class="la flaticon2-user"></i>
					</div>
					<div class="col-md-8 mt-3">
						<p class="text-left font-weight-bold mb-0">4 Atividades</p>
					</div>


				</div>
			</div>
			<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban" style="border-radius: 10px;">

				<div class="row" style="margin: 0px; border-radius: 10px; padding: 0px; background-color: #838849;">
					<div class="col-md-4 mt-2">
						<i class="la fa fa-suitcase"></i>
					</div>
					<div class="col-md-8 mt-2">
						<p class="text-left font-weight-bold mb-2">Negócio da Maria</p>
						<p class="text-left">R$ 799,00</p>
					</div>
					<div class="col-md-4 mb-2">
						<i class="la flaticon2-user"></i>
					</div>
					<div class="col-md-8 mt-3">
						<p class="text-left font-weight-bold mb-0">4 Atividades</p>
					</div>


				</div>
			</div>



		<!-- /CARD -->



		<!-- <div class="kt-portlet kt-portlet--sortable-empty"></div> -->

	</div>
	<!-- /content-coluna -->
				
			</div><!--  col-md-2 col-lg-2 coluna -->
			
			<div class="col-md-2 col-lg-2 coluna">

		<div class="header-coluna">
			<div class="row">
				<h6 class="col-md-12 text-center">NEGOCIAÇÃO</h6>
			</div>
			<div class="row">
				<h6 class="col-md-5">
					<span id="qtd-negocios">4</spam>&nbsp;Negócios 
				</h6>
				<h6 class="col-md-2">
					<span id="qtd-negocios"> -> </spam>
				</h6>
				<h6 class="col-md-5 text-left">
					<span id="qtd-negocios">R$ 1250</spam>
				</h6>
			</div>

		</div>

		<div class="content-coluna">

					<!-- CARD -->
					<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban" style="border-radius: 10px;">

				<div class="row" style="margin: 0px; border-radius: 10px; padding: 0px; background-color: #838849;">
					<div class="col-md-4 mt-2">
						<i class="la fa fa-suitcase"></i>
					</div>
					<div class="col-md-8 mt-2">
						<p class="text-left font-weight-bold mb-2">Negócio da Maria</p>
						<p class="text-left">R$ 799,00</p>
					</div>
					<div class="col-md-4 mb-2">
						<i class="la flaticon2-user"></i>
					</div>
					<div class="col-md-8 mt-3">
						<p class="text-left font-weight-bold mb-0">4 Atividades</p>
					</div>


				</div>
			</div>
			<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban" style="border-radius: 10px;">

				<div class="row" style="margin: 0px; border-radius: 10px; padding: 0px; background-color: #838849;">
					<div class="col-md-4 mt-2">
						<i class="la fa fa-suitcase"></i>
					</div>
					<div class="col-md-8 mt-2">
						<p class="text-left font-weight-bold mb-2">Negócio da Maria</p>
						<p class="text-left">R$ 799,00</p>
					</div>
					<div class="col-md-4 mb-2">
						<i class="la flaticon2-user"></i>
					</div>
					<div class="col-md-8 mt-3">
						<p class="text-left font-weight-bold mb-0">4 Atividades</p>
					</div>


				</div>
			</div>
					<!-- /CARD -->
	
					
	
					<!-- <div class="kt-portlet kt-portlet--sortable-empty"></div> -->
	
				</div><!--  /content-coluna  -->
				
			</div><!-- /col-md-3 col-lg-3 coluna -->

			<div class="col-md-2 col-lg-2 coluna">

		<div class="header-coluna">
			<div class="row">
				<h6 class="col-md-12 text-center">ENTREGA DE DOCUMENTO</h6>
			</div>
			<div class="row">
				<h6 class="col-md-5">
					<span id="qtd-negocios">4</spam>&nbsp;Negócios 
				</h6>
				<h6 class="col-md-2">
					<span id="qtd-negocios"> -> </spam>
				</h6>
				<h6 class="col-md-5 text-left">
					<span id="qtd-negocios">R$ 1250</spam>
				</h6>
			</div>
		</div>

		<div class="content-coluna">

					<!-- CARD -->
					<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban" style="border-radius: 10px;">

				<div class="row" style="margin: 0px; border-radius: 10px; padding: 0px; background-color: #838849;">
					<div class="col-md-4 mt-2">
						<i class="la fa fa-suitcase"></i>
					</div>
					<div class="col-md-8 mt-2">
						<p class="text-left font-weight-bold mb-2">Negócio da Maria</p>
						<p class="text-left">R$ 799,00</p>
					</div>
					<div class="col-md-4 mb-2">
						<i class="la flaticon2-user"></i>
					</div>
					<div class="col-md-8 mt-3">
						<p class="text-left font-weight-bold mb-0">4 Atividades</p>
					</div>


				</div>
			</div>
			<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban" style="border-radius: 10px;">

				<div class="row" style="margin: 0px; border-radius: 10px; padding: 0px; background-color: #838849;">
					<div class="col-md-4 mt-2">
						<i class="la fa fa-suitcase"></i>
					</div>
					<div class="col-md-8 mt-2">
						<p class="text-left font-weight-bold mb-2">Negócio da Maria</p>
						<p class="text-left">R$ 799,00</p>
					</div>
					<div class="col-md-4 mb-2">
						<i class="la flaticon2-user"></i>
					</div>
					<div class="col-md-8 mt-3">
						<p class="text-left font-weight-bold mb-0">4 Atividades</p>
					</div>


				</div>
			</div>
					<!-- /CARD -->
	
					
	
					<!-- <div class="kt-portlet kt-portlet--sortable-empty"></div> -->
	
				</div><!--  /content-coluna  -->
				
			</div><!-- /col-md-2 col-lg-2 coluna -->
			
			<div class="col-md-2 col-lg-2 coluna">

		<div class="header-coluna">

			<div class="row">
				<h6 class="col-md-12 text-center">GANHOU</h6>
			</div>
			<div class="row">
				<h6 class="col-md-5">
					<span id="qtd-negocios">4</spam>&nbsp;Negócios 
				</h6>
				<h6 class="col-md-2">
					<span id="qtd-negocios"> -> </spam>
				</h6>
				<h6 class="col-md-5 text-left">
					<span id="qtd-negocios">R$ 1250</spam>
				</h6>
			</div>
		</div>

		<div class="content-coluna">

					<!-- CARD -->
					<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban" style="border-radius: 10px;">

				<div class="row" style="margin: 0px; border-radius: 10px; padding: 0px; background-color: #838849;">
					<div class="col-md-4 mt-2">
						<i class="la fa fa-suitcase"></i>
					</div>
					<div class="col-md-8 mt-2">
						<p class="text-left font-weight-bold mb-2">Negócio da Maria</p>
						<p class="text-left">R$ 799,00</p>
					</div>
					<div class="col-md-4 mb-2">
						<i class="la flaticon2-user"></i>
					</div>
					<div class="col-md-8 mt-3">
						<p class="text-left font-weight-bold mb-0">4 Atividades</p>
					</div>


				</div>
			</div>
			<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban" style="border-radius: 10px;">

				<div class="row" style="margin: 0px; border-radius: 10px; padding: 0px; background-color: #838849;">
					<div class="col-md-4 mt-2">
						<i class="la fa fa-suitcase"></i>
					</div>
					<div class="col-md-8 mt-2">
						<p class="text-left font-weight-bold mb-2">Negócio da Maria</p>
						<p class="text-left">R$ 799,00</p>
					</div>
					<div class="col-md-4 mb-2">
						<i class="la flaticon2-user"></i>
					</div>
					<div class="col-md-8 mt-3">
						<p class="text-left font-weight-bold mb-0">4 Atividades</p>
					</div>


				</div>
			</div>
					<!-- /CARD -->
	
					
	
					<!-- <div class="kt-portlet kt-portlet--sortable-empty"></div> -->
	
				</div><!--  /content-coluna  -->
				
			</div><!-- /col-md-2 col-lg-2 coluna -->
			
			<div class="col-md-2 col-lg-2 coluna">

		<div class="header-coluna">

			<div class="row">
				<h6 class="col-md-12 text-center">PERDEU</h6>
			</div>
			<div class="row">
				<h6 class="col-md-5">
					<span id="qtd-negocios">4</spam>&nbsp;Negócios 
				</h6>
				<h6 class="col-md-2">
					<span id="qtd-negocios"> -> </spam>
				</h6>
				<h6 class="col-md-5 text-left">
					<span id="qtd-negocios">R$ 1250</spam>
				</h6>
			</div>
		</div>

		<div class="content-coluna">

					<!-- CARD -->
					<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban" style="border-radius: 10px;">

				<div class="row" style="margin: 0px; border-radius: 10px; padding: 0px; background-color: #838849;">
					<div class="col-md-4 mt-2">
						<i class="la fa fa-suitcase"></i>
					</div>
					<div class="col-md-8 mt-2">
						<p class="text-left font-weight-bold mb-2">Negócio da Maria</p>
						<p class="text-left">R$ 799,00</p>
					</div>
					<div class="col-md-4 mb-2">
						<i class="la flaticon2-user"></i>
					</div>
					<div class="col-md-8 mt-3">
						<p class="text-left font-weight-bold mb-0">4 Atividades</p>
					</div>


				</div>
			</div>
			<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban card-kanban2" style="border-radius: 10px;">

				<div class="row" style="margin: 0px; border-radius: 10px; padding: 0px; background-color: #838849;">
					<div class="col-md-4 mt-2">
						<i class="la fa fa-suitcase"></i>
					</div>
					<div class="col-md-8 mt-2">
						<p class="text-left font-weight-bold mb-2">Negócio da Maria</p>
						<p class="text-left">R$ 799,00</p>
					</div>
					<div class="col-md-4 mb-2">
						<i class="la flaticon2-user"></i>
					</div>
					<div class="col-md-8 mt-3">
						<p class="text-left font-weight-bold mb-0">4 Atividades</p>
					</div>


				</div>
			</div>
					<!-- /CARD -->
	
					
	
					<!-- <div class="kt-portlet kt-portlet--sortable-empty"></div> -->
	
				</div><!--  /content-coluna  -->
				
			</div><!-- /col-md-2 col-lg-2 coluna -->

		</div>
		<script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		
		<script>
		$( document ).ready(function() {
			$( ".card-kanban" ).css("z-index", "20");
			$( ".card-kanban" ).draggable({
				//appendTo: ".content-coluna:last",
				//snap: true,
					//grid: [ 50, 20 ],
			//helper: "clone",
			//scope: "tasks"
			});
			
			var tamanhoEtapas = $("#kt_sortable_portlets > div").size();
			var teste = "1";
			/* for (var i = 1; i <= tamanhoEtapas; i++){
				$("#kt_sortable_portlets > div:nth-child(3)").droppable({
					drop: function (event, ui){
						console.log(ui.draggable);
					$("#kt_sortable_portlets > div:nth-child(4) > div.content-coluna").append(ui.draggable);
					}

					});
				
			} */
			
			$("#kt_sortable_portlets > div:nth-child(1)").droppable({
				drop: function (event, ui){
					console.log(ui.draggable);
				$("#kt_sortable_portlets > div:nth-child(1) > div.content-coluna").append(ui.draggable.css({left: "0", top: "10px"}));
				}

				});
			$("#kt_sortable_portlets > div:nth-child(2)").droppable({
				drop: function (event, ui){
					console.log(ui.draggable);
				$("#kt_sortable_portlets > div:nth-child(2) > div.content-coluna").append(ui.draggable.css({left: "0", top: "10px"}));
				}

				});
			$("#kt_sortable_portlets > div:nth-child(3)").droppable({
				drop: function (event, ui){
					console.log(ui.draggable);
				$("#kt_sortable_portlets > div:nth-child(3) > div.content-coluna").append(ui.draggable.css({left: "0", top: "10px"}));
				}

				});
			$("#kt_sortable_portlets > div:nth-child(4)").droppable({
				drop: function (event, ui){
					console.log(ui.draggable);
				$("#kt_sortable_portlets > div:nth-child(4) > div.content-coluna").append(ui.draggable.css({left: "0", top: "10px"}));
				}

				});
			$("#kt_sortable_portlets > div:nth-child(5)").droppable({
				drop: function (event, ui){
					console.log(ui.draggable);
				$("#kt_sortable_portlets > div:nth-child(5) > div.content-coluna").append(ui.draggable.css({left: "0", top: "10px"}));
				}

				});
			
			
		
		});
		</script>