<meta charset="UTF-8">
<div class="row kanban-dragdrop ui-sortable" id="kt_sortable_portlets">

			<div class="col-md-2 col-lg-2 coluna">

				<div class="header-coluna">
					<h5>NOVO</h5>
					<h6><span id="qtd-negocios">4</spam>&nbsp;Negócios</h6>
				</div>

				<div class="content-coluna">
	
					<!-- CARD -->
					<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban">
						<div class="kt-portlet__head ui-sortable-handle">
							<div class="kt-portlet__head-toolbar">
								<ul class="nav nav-tabs nav-tabs-line nav-tabs-line-primary" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#kt_portlet_base_demo_2_1_tab_content" role="tab" aria-selected="true">
											<i class="flaticon2-user"></i> Usuário
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#kt_portlet_base_demo_2_2_tab_content" role="tab" aria-selected="false">
											<i class="la la-briefcase"></i> Negócios
										</a>
									</li>
									
								</ul>
							</div>
						</div>
						<div class="kt-portlet__body">
							<div class="tab-content">
								<div class="tab-pane active" id="kt_portlet_base_demo_2_1_tab_content" role="tabpanel">
									Descrição...<br>
									Nome da Pessoa
								</div>
								<div class="tab-pane" id="kt_portlet_base_demo_2_2_tab_content" role="tabpanel">
									Descrição...<br>
									Atividades...<br>
									R$ 1.000,00
								</div>
							</div>
						</div>
					</div>
					<!-- /CARD -->
	
					<!-- CARD -->
					<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban">
						<div class="kt-portlet__head ui-sortable-handle">
							<div class="kt-portlet__head-toolbar">
								<ul class="nav nav-tabs nav-tabs-line nav-tabs-line-primary" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#kt_portlet_base_demo_2_1_tab_content" role="tab">
											<i class="flaticon2-user"></i> Usuário
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#kt_portlet_base_demo_2_2_tab_content" role="tab">
											<i class="la la-briefcase"></i> Negócios
										</a>
									</li>
									
								</ul>
							</div>
						</div>
						<div class="kt-portlet__body">
							<div class="tab-content">
								<div class="tab-pane active" id="kt_portlet_base_demo_2_1_tab_content" role="tabpanel">
									Descrição...<br>
									Nome da Pessoa
								</div>
								<div class="tab-pane" id="kt_portlet_base_demo_2_2_tab_content" role="tabpanel">
									Descrição...<br>
									Atividades...<br>
									R$ 1.000,00
								</div>
							</div>
						</div>
					</div>
					<!-- /CARD -->
	
					<!-- CARD -->
					<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban">
						<div class="kt-portlet__head ui-sortable-handle">
							<div class="kt-portlet__head-toolbar">
								<ul class="nav nav-tabs nav-tabs-line nav-tabs-line-primary" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#kt_portlet_base_demo_2_1_tab_content" role="tab">
											<i class="flaticon2-user"></i> Usuário
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#kt_portlet_base_demo_2_2_tab_content" role="tab">
											<i class="la la-briefcase"></i> Negócios
										</a>
									</li>
									
								</ul>
							</div>
						</div>
						<div class="kt-portlet__body">
							<div class="tab-content">
								<div class="tab-pane active" id="kt_portlet_base_demo_2_1_tab_content" role="tabpanel">
									Descrição...<br>
									Nome da Pessoa
								</div>
								<div class="tab-pane" id="kt_portlet_base_demo_2_2_tab_content" role="tabpanel">
									Descrição...<br>
									Atividades...<br>
									R$ 1.000,00
								</div>
							</div>
						</div>
					</div>
					<!-- /CARD -->
	
					<!-- CARD -->
					<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban">
						<div class="kt-portlet__head ui-sortable-handle">
							<div class="kt-portlet__head-toolbar">
								<ul class="nav nav-tabs nav-tabs-line nav-tabs-line-primary" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#kt_portlet_base_demo_2_1_tab_content" role="tab">
											<i class="flaticon2-user"></i> Usuário
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#kt_portlet_base_demo_2_2_tab_content" role="tab">
											<i class="la la-briefcase"></i> Negócios
										</a>
									</li>
									
								</ul>
							</div>
						</div>
						<div class="kt-portlet__body">
							<div class="tab-content">
								<div class="tab-pane active" id="kt_portlet_base_demo_2_1_tab_content" role="tabpanel">
									Descrição...<br>
									Nome da Pessoa
								</div>
								<div class="tab-pane" id="kt_portlet_base_demo_2_2_tab_content" role="tabpanel">
									Descrição...<br>
									Atividades...<br>
									R$ 1.000,00
								</div>
							</div>
						</div>
					</div>
					<!-- /CARD -->
	
					<div class="kt-portlet kt-portlet--sortable-empty"></div>
	
				</div><!-- /content-coluna -->
				
			</div><!--  col-md-2 col-lg-2 coluna -->
			
			<div class="col-md-2 col-lg-2 coluna">

				<div class="header-coluna">
					<h5>NEGOCIAÇÃO</h5>
					<h6><span id="qtd-negocios">4</spam>&nbsp;Negócios</h6>
				</div>

				<div class="content-coluna">

					<!-- CARD -->
					<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban">
						<div class="kt-portlet__head ui-sortable-handle">
							<div class="kt-portlet__head-toolbar">
								<ul class="nav nav-tabs nav-tabs-line nav-tabs-line-primary" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#kt_portlet_base_demo_2_1_tab_content" role="tab" aria-selected="true">
											<i class="flaticon2-user"></i> Usuário
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#kt_portlet_base_demo_2_2_tab_content" role="tab" aria-selected="false">
											<i class="la la-briefcase"></i> Negócios
										</a>
									</li>
									
								</ul>
							</div>
						</div>
						<div class="kt-portlet__body">
							<div class="tab-content">
								<div class="tab-pane active" id="kt_portlet_base_demo_2_1_tab_content" role="tabpanel">
									Descrição...<br>
									Nome da Pessoa
								</div>
								<div class="tab-pane" id="kt_portlet_base_demo_2_2_tab_content" role="tabpanel">
									Descrição...<br>
									Atividades...<br>
									R$ 1.000,00
								</div>
							</div>
						</div>
					</div>
					<!-- /CARD -->
	
					<!-- CARD -->
					<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban">
						<div class="kt-portlet__head ui-sortable-handle">
							<div class="kt-portlet__head-toolbar">
								<ul class="nav nav-tabs nav-tabs-line nav-tabs-line-primary" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#kt_portlet_base_demo_2_1_tab_content" role="tab">
											<i class="flaticon2-user"></i> Usuário
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#kt_portlet_base_demo_2_2_tab_content" role="tab">
											<i class="la la-briefcase"></i> Negócios
										</a>
									</li>
									
								</ul>
							</div>
						</div>
						<div class="kt-portlet__body">
							<div class="tab-content">
								<div class="tab-pane active" id="kt_portlet_base_demo_2_1_tab_content" role="tabpanel">
									Descrição...<br>
									Nome da Pessoa
								</div>
								<div class="tab-pane" id="kt_portlet_base_demo_2_2_tab_content" role="tabpanel">
									Descrição...<br>
									Atividades...<br>
									R$ 1.000,00
								</div>
							</div>
						</div>
					</div>
					<!-- /CARD -->
	
					<!-- CARD -->
					<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban">
						<div class="kt-portlet__head ui-sortable-handle">
							<div class="kt-portlet__head-toolbar">
								<ul class="nav nav-tabs nav-tabs-line nav-tabs-line-primary" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#kt_portlet_base_demo_2_1_tab_content" role="tab" aria-selected="true">
											<i class="flaticon2-user"></i> Usuário
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#kt_portlet_base_demo_2_2_tab_content" role="tab" aria-selected="false">
											<i class="la la-briefcase"></i> Negócios
										</a>
									</li>
									
								</ul>
							</div>
						</div>
						<div class="kt-portlet__body">
							<div class="tab-content">
								<div class="tab-pane active" id="kt_portlet_base_demo_2_1_tab_content" role="tabpanel">
									Descrição...<br>
									Nome da Pessoa
								</div>
								<div class="tab-pane" id="kt_portlet_base_demo_2_2_tab_content" role="tabpanel">
									Descrição...<br>
									Atividades...<br>
									R$ 1.000,00
								</div>
							</div>
						</div>
					</div>
					<!-- /CARD -->
	
					<div class="kt-portlet kt-portlet--sortable-empty"></div>
	
				</div><!--  /content-coluna  -->
				
			</div><!-- /col-md-3 col-lg-3 coluna -->

			<div class="col-md-2 col-lg-2 coluna">

				<div class="header-coluna">
					<h5>ENTREGA DE DOCUMENTOS</h5>
					<h6><span id="qtd-negocios">1</spam>&nbsp;Negócios</h6>
				</div>

				<div class="content-coluna">

					<!-- CARD -->
					<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban">
						<div class="kt-portlet__head ui-sortable-handle">
							<div class="kt-portlet__head-toolbar">
								<ul class="nav nav-tabs nav-tabs-line nav-tabs-line-primary" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#kt_portlet_base_demo_2_1_tab_content" role="tab">
											<i class="flaticon2-user"></i> Usuário
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#kt_portlet_base_demo_2_2_tab_content" role="tab">
											<i class="la la-briefcase"></i> Negócios
										</a>
									</li>
									
								</ul>
							</div>
						</div>
						<div class="kt-portlet__body">
							<div class="tab-content">
								<div class="tab-pane active" id="kt_portlet_base_demo_2_1_tab_content" role="tabpanel">
									Descrição...<br>
									Nome da Pessoa
								</div>
								<div class="tab-pane" id="kt_portlet_base_demo_2_2_tab_content" role="tabpanel">
									Descrição...<br>
									Atividades...<br>
									R$ 1.000,00
								</div>
							</div>
						</div>
					</div>
					<!-- /CARD -->
	
					<!-- CARD -->
					<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban">
						<div class="kt-portlet__head ui-sortable-handle">
							<div class="kt-portlet__head-toolbar">
								<ul class="nav nav-tabs nav-tabs-line nav-tabs-line-primary" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#kt_portlet_base_demo_2_1_tab_content" role="tab">
											<i class="flaticon2-user"></i> Usuário
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#kt_portlet_base_demo_2_2_tab_content" role="tab">
											<i class="la la-briefcase"></i> Negócios
										</a>
									</li>
									
								</ul>
							</div>
						</div>
						<div class="kt-portlet__body">
							<div class="tab-content">
								<div class="tab-pane active" id="kt_portlet_base_demo_2_1_tab_content" role="tabpanel">
									Descrição...<br>
									Nome da Pessoa
								</div>
								<div class="tab-pane" id="kt_portlet_base_demo_2_2_tab_content" role="tabpanel">
									Descrição...<br>
									Atividades...<br>
									R$ 1.000,00
								</div>
							</div>
						</div>
					</div>
					<!-- /CARD -->
	
					<div class="kt-portlet kt-portlet--sortable-empty"></div>
	
				</div><!--  /content-coluna  -->
				
			</div><!-- /col-md-2 col-lg-2 coluna -->
			
			<div class="col-md-2 col-lg-2 coluna">

				<div class="header-coluna">
					<h5>GANHOU</h5>
					<h6><span id="qtd-negocios">4</spam>&nbsp;Negócios</h6>
				</div>

				<div class="content-coluna">

					<!-- CARD -->
					<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban">
						<div class="kt-portlet__head ui-sortable-handle">
							<div class="kt-portlet__head-toolbar">
								<ul class="nav nav-tabs nav-tabs-line nav-tabs-line-primary" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#kt_portlet_base_demo_2_1_tab_content" role="tab">
											<i class="flaticon2-user"></i> Usuário
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#kt_portlet_base_demo_2_2_tab_content" role="tab">
											<i class="la la-briefcase"></i> Negócios
										</a>
									</li>
									
								</ul>
							</div>
						</div>
						<div class="kt-portlet__body">
							<div class="tab-content">
								<div class="tab-pane active" id="kt_portlet_base_demo_2_1_tab_content" role="tabpanel">
									Descrição...<br>
									Nome da Pessoa
								</div>
								<div class="tab-pane" id="kt_portlet_base_demo_2_2_tab_content" role="tabpanel">
									Descrição...<br>
									Atividades...<br>
									R$ 1.000,00
								</div>
							</div>
						</div>
					</div>
					<!-- /CARD -->
	
					<!-- CARD -->
					<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban">
						<div class="kt-portlet__head ui-sortable-handle">
							<div class="kt-portlet__head-toolbar">
								<ul class="nav nav-tabs nav-tabs-line nav-tabs-line-primary" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#kt_portlet_base_demo_2_1_tab_content" role="tab">
											<i class="flaticon2-user"></i> Usuário
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#kt_portlet_base_demo_2_2_tab_content" role="tab">
											<i class="la la-briefcase"></i> Negócios
										</a>
									</li>
									
								</ul>
							</div>
						</div>
						<div class="kt-portlet__body">
							<div class="tab-content">
								<div class="tab-pane active" id="kt_portlet_base_demo_2_1_tab_content" role="tabpanel">
									Descrição...<br>
									Nome da Pessoa
								</div>
								<div class="tab-pane" id="kt_portlet_base_demo_2_2_tab_content" role="tabpanel">
									Descrição...<br>
									Atividades...<br>
									R$ 1.000,00
								</div>
							</div>
						</div>
					</div>
					<!-- /CARD -->
	
					<div class="kt-portlet kt-portlet--sortable-empty"></div>
	
				</div><!--  /content-coluna  -->
				
			</div><!-- /col-md-2 col-lg-2 coluna -->
			
			<div class="col-md-2 col-lg-2 coluna">

				<div class="header-coluna">
					<h5>PERDEU</h5>
					<h6><span id="qtd-negocios">1</spam>&nbsp;Negócios</h6>
				</div>

				<div class="content-coluna">

					<!-- CARD -->
					<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban">
						<div class="kt-portlet__head ui-sortable-handle">
							<div class="kt-portlet__head-toolbar">
								<ul class="nav nav-tabs nav-tabs-line nav-tabs-line-primary" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#kt_portlet_base_demo_2_1_tab_content" role="tab">
											<i class="flaticon2-user"></i> Usuário
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#kt_portlet_base_demo_2_2_tab_content" role="tab">
											<i class="la la-briefcase"></i> Negócios
										</a>
									</li>
									
								</ul>
							</div>
						</div>
						<div class="kt-portlet__body">
							<div class="tab-content">
								<div class="tab-pane active" id="kt_portlet_base_demo_2_1_tab_content" role="tabpanel">
									Descrição...<br>
									Nome da Pessoa
								</div>
								<div class="tab-pane" id="kt_portlet_base_demo_2_2_tab_content" role="tabpanel">
									Descrição...<br>
									Atividades...<br>
									R$ 1.000,00
								</div>
							</div>
						</div>
					</div>
					<!-- /CARD -->
	
					<!-- CARD -->
					<div class="kt-portlet kt-portlet--tabs kt-portlet--sortable card-kanban">
						<div class="kt-portlet__head ui-sortable-handle">
							<div class="kt-portlet__head-toolbar">
								<ul class="nav nav-tabs nav-tabs-line nav-tabs-line-primary" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#kt_portlet_base_demo_2_1_tab_content" role="tab">
											<i class="flaticon2-user"></i> Usuário
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#kt_portlet_base_demo_2_2_tab_content" role="tab">
											<i class="la la-briefcase"></i> Negócios
										</a>
									</li>
									
								</ul>
							</div>
						</div>
						<div class="kt-portlet__body">
							<div class="tab-content">
								<div class="tab-pane active" id="kt_portlet_base_demo_2_1_tab_content" role="tabpanel">
									Descrição...<br>
									Nome da Pessoa
								</div>
								<div class="tab-pane" id="kt_portlet_base_demo_2_2_tab_content" role="tabpanel">
									Descrição...<br>
									Atividades...<br>
									R$ 1.000,00
								</div>
							</div>
						</div>
					</div>
					<!-- /CARD -->
	
					<div class="kt-portlet kt-portlet--sortable-empty"></div>
	
				</div><!--  /content-coluna  -->
				
			</div><!-- /col-md-2 col-lg-2 coluna -->

		</div>