<meta charset="UTF-8">
<div class="kt-login-v2__container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4 text-center">
			<span class="kt-menu__link-text logotipo"> <img alt="Logo" class="logotipo-img" src="/img/logotipo/senac-logo.png">
			</span>
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row mt-5 mb-3">
		<div class="col-md-12 text-center">
			<div class="kt-login-v2__title">
				<h3>Logar-se</h3>
			</div>
		</div>
	</div>

	<!--begin::Form-->
	<form class="kt-login-v2__form kt-form" action="" autocomplete="off" id="kt_login_form">

		<div class="row">
			<div class="col-md-4"></div>
			<div class="form-group col-md-4">
				<input class="form-control" type="text" placeholder="Usuario..." name="usuario" autocomplete="off">
			</div>
			<div class="col-md-4"></div>
		</div>


		<div class="row">
			<div class="col-md-4"></div>
			<div class="form-group col-md-4">
				<input class="form-control" type="password" placeholder="Senha..." name="senha" autocomplete="off">
			</div>
			<div class="col-md-4"></div>
		</div>

		<div class="row">
			<div class="col-md-4"></div>
			<!--begin::Action-->
			<div class="kt-login-v2__actions">
				<a href="#" class="kt-link kt-link--brand"> Esqueceu sua senha? Clique aqui </a>
				<button type="submit" class="btn btn-brand btn-elevate btn-pill" id="kt_login_submit">Sign In</button>
			</div>
			<!--end::Action-->
			<div class="col-md-4"></div>
		</div>
	</form>
	<!--end::Form-->

	<!--begin::Separator-->
	<div class="kt-separator kt-separator--space-lg  kt-separator--border-solid"></div>
	<!--end::Separator-->

	<!--begin::Options-->
	<h3 class="kt-login-v2__desc">CRM - Faculdade de Tecnologia Senac Rio</h3>

	<!--end::Options-->
</div>