<meta charset="UTF-8">
<div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app ">

	<div class="col-md-3 col-lg-3">
		<!------------------------------- Section Cliente ------------------------------------------------------------------------>
		<div class="kt-portlet kt-portlet--height-fluid- content-cliente" style="border-radius: 4px !important;">

			<div class="kt-portlet__body kt-portlet__body-image">
				<div class="kt-widget kt-widget--user-profile-4">
					<div class="kt-widget__head">

						<div class="kt-avatar kt-avatar--outline kt-avatar--circle box-cliente">
							<div class="kt-avatar__holder" style="background-image: url(img/user/default.jpg);"></div>

							<label class="kt-avatar__upload" data-toggle="kt-tooltip" data-placement="top" data-original-title="Editar"> <i class="fa fa-pen"></i> <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg">
							</label>

						</div>

					</div>
				</div>
			</div>

			<div class="kt-portlet__body kt-portlet__body-form">

				<form action="" method="" class="form-cliente detalhamentoCliente">
					<input type="hidden" id="idCliente" name="idCliente" value="">
					<label for="cpf">CPF</label> 
					<input class="form-control" type="text" name="cpf" id="cpf"> 
					
					<label for="nome">Nome</label> 
					<input class="form-control" type="text" name="nome" id="nome"> 
					
					<label for="whats">SobreNome</label> 
					<input class="form-control" type="text" name="sobreNome" id="sobreNome"> 
					
					<label for="email">E-mail</label> 
					<input class="form-control" type="email" name="email" id="email">

					<button type="button" class="btn btn-brand btn-circle btn-icon btn-adicionar-contato" data-toggle="kt-tooltip" data-placement="right" data-original-title="Adicionar contato">
						<i class="fa fa-plus"></i>
					</button>

				</form>
			</div>
			<!-- /kt-portlet__body -->
		</div>
		<!-- /kt-portlet -->
		<!------------------------------- /Section Cliente ------------------------------------------------------------------------>
		<!------------------------------- Section Negócios ------------------------------------------------------------------------>
		<div class="negocios">

			<div class="header-box-padrao kt-portlet kt-portlet--head--noborder kt-portlet--height-fluid">
				<div class="kt-portlet__head kt-portlet__head--noborder">
					<div class="kt-portlet__head-label col-xl-3">
						<h3 class="kt-portlet__head-title">NEGÓCIOS</h3>
					</div>
				</div>
			</div>

			<div class="body-box-negocios kt-portlet__body kt-portlet__body--fluid kt-portlet__body--fit">
				<!-- Conteúdo aqui -->
			</div>

		</div>

	</div>
	<!-- /col-md-3 col-lg-3 -->
	<!------------------------------- /Section Negócios ------------------------------------------------------------------------>


	<div class="col-md-9 col-lg-9">

		<!------------------------------- Section Notas e Atividades -------------------------------------------------------------->
		<div class="row">
			<div class="col-xl-12">
				<div class="header-box-padrao kt-portlet kt-portlet--head--noborder kt-portlet--height-fluid">
					<div class="kt-portlet__head kt-portlet__head--noborder">
						<div class="kt-portlet__head-label col-xl-3">
							<h3 class="kt-portlet__head-title">NOTAS</h3>
						</div>
						<div class="kt-portlet__head-label col-xl-3">
							<h3 class="kt-portlet__head-title">ATIVIDADES</h3>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-12">
				<div class="body-box-padrao kt-portlet__body kt-portlet__body--fluid kt-portlet__body--fit">
					<div id="areaAtiviaddes">
						<div class="row mr-0 ml-0 pt-3">
							<div class="col-md-5" style="margin-top: 1%;">
								<label for="exampleFormControlTextarea6" class="float-right">Atividade a ser Executada:</label>
							</div>
							<div class="col-md-5" style="">
								<select class="form-control" id="atividadeOferta" data-placeholder="Selecione uma atividade" style="margin-left: auto; margin-right: auto; width: 100%; margin: 0px auto 10px auto;">
									<option value="-1">Selecione uma Atividade</option>
									<option th:each="atividade : ${atividadeLista}" th:if="${atividade.status.equals('1')}" th:value="${atividade.id}" th:text="${atividade.descricao}" />
								</select>

							</div>
						</div>
						<div class="form shadow-textarea ml-5 mr-5">

							<textarea class="form-control z-depth-1" id="descricaoAcao" rows="3" placeholder="Descreva a atividade a ser executada..." style="margin-top: 0px; margin-bottom: 0px; height: 85px;"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-12">
				<div class="footer-box-padrao kt-portlet kt-portlet--footer--noborder ">
					<div class="box-botao-salvar">
						<button type="button" class="btn btn-salvar btn-brand" onclick="salvarAcaoCliente()">SALVAR</button>
					</div>
				</div>
			</div>
		</div>
		<!------------------------------- /Section Notas e Atividades ------------------------------------------------------------------------>

		<!------------------------------- Section Linha do Tempo ------------------------------------------------------------------------>
		<div class="row">
			<div class="col-xl-12">
				<div class="header-box-padrao kt-portlet kt-portlet--head--noborder kt-portlet--height-fluid">
					<div class="kt-portlet__head kt-portlet__head--noborder">
						<div class="kt-portlet__head-label">
							<h3 class="kt-portlet__head-title title-center">LINHA DO TEMPO</h3>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-12">
				<div class="body-box-linha-do-tempo kt-portlet__body kt-portlet__body--fluid kt-portlet__body--fit">

					<div class="kt-portlet accordion-linha-tempo">

						<div class="kt-portlet__body">

							<div class="accordion accordion-light accordion-toggle-plus" id="accordionExample3">
							
								<div class="card card-accordion-linha-tempo" style="border-top: 1px solid #005594 !important;" th:each="acaoCliente : ${listaAcaoCliente}">
									<div class="card-header" id="headingOne3">
										<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3">

											<span class="foto-linha-tempo"> <img src="img/user/default.jpg">
											</span> <span class="nome-linha-tempo">
												<h5>Administrador <span th:text="${acaoCliente.data}"></span><span class="ml-2" th:text="${acaoCliente.hora}"></span></h5>
												<h6 th:text="${acaoCliente.acaoId.descricao}">Atividade</h6>
											</span>

										</div>
									</div>
									<div id="collapseOne3" class="collapse show" aria-labelledby="headingOne3" data-parent="#accordionExample3" style="">
										<div class="card-body" th:text="${acaoCliente.descricao}"></div>
									</div>
								</div>
								
								<!-- <div class="card card-accordion-linha-tempo" style="border-top: 1px solid #005594 !important;" th:each="acaoCliente : ${listaAcaoCliente}">
									<div class="card-header" th:attr="id='headingOne' + ${acaoCliente.id}" id="headingOne3">
										<div class="card-title collapsed" th:attr="data-target='#collapseOne' + ${acaoCliente.id}, aria-controls='collapseOne' + ${acaoCliente.id}" data-toggle="collapse" aria-expanded="false"  >

											<span class="foto-linha-tempo"> <img src="img/user/default.jpg">
											</span> <span class="nome-linha-tempo">
												<h5>Administrador</h5>
												<h6 th:text="${acaoCliente.acaoId.descricao}">Atividade</h6>
											</span>

										</div>
									</div>
									<div  th:attr="id='#collapseOne' + ${acaoCliente.id}, aria-labelledby='headingOne' + ${acaoCliente.id}"  class="collapse" aria-labelledby="headingOne3" data-parent="#accordionExample3">
										<div class="card-body" th:text="${acaoCliente.descricao}"></div>
									</div>
								</div> -->


							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-12">
				<div class="footer-box-padrao kt-portlet kt-portlet--footer--noborder "></div>
			</div>
		</div>
		<!------------------------------- /Section Linha do Tempo ------------------------------------------------------------------------>

	</div>
	<!-- /col-md-9 col-lg-9 -->

</div>


<script>
	window.onload = function() {
	}

	$(document).ready(function() {
		
	});

	function salvarAcaoCliente() {
		
		var data = new Date();

		// Guarda cada pedaço em uma variável
		var dia     = data.getDate();           // 1-31
		var mes     = data.getMonth();          // 0-11 (zero=janeiro)
		var ano    = data.getFullYear();       // 4 dígitos
		var hora    = data.getHours();          // 0-23
		var min     = data.getMinutes();        // 0-59
		var seg     = data.getSeconds();  
		
		var dataFormatada = dia + "/"+mes+"/"+ano;
		var horaFormatada = hora+":"+min+":"+seg;
		
		var objeto = new Object();
		objeto.id = null;
		objeto.descricao = $("#descricaoAcao").val();
		objeto.data = dataFormatada;
		objeto.hora = horaFormatada;
		objeto.acaoId = new Object();
		objeto.acaoId.id = $("#atividadeOferta").val();
		objeto.clienteId = new Object();
		objeto.clienteId.cpf =  $("#cpf").val();		
		
		var acaoClienteJSON = JSON.stringify(objeto);
		
		var idCliente = $('.detalhamentoCliente > #idCliente').val();
		
		$.ajax({
			type: "POST",
			url: dominio + "/acaoClienteREST/cadastrarAcaoCliente",
			data: acaoClienteJSON,
			contentType: "application/json",
			dataType: "JSON",
			async: false,
			success: function (response) {	
				console.log("ok");
				carregarDetalheCliente(idCliente);
				}
			});
		

	}
</script>