<div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app ">

								<div class="col-md-3 col-lg-3">
<!------------------------------- Section Cliente ------------------------------------------------------------------------>	
									<div class="kt-portlet kt-portlet--height-fluid- content-cliente" style="border-radius: 4px!important;">

										<div class="kt-portlet__body kt-portlet__body-image">
											<div class="kt-widget kt-widget--user-profile-4">
												<div class="kt-widget__head">

													<div class="kt-avatar kt-avatar--outline kt-avatar--circle box-cliente">
														<div class="kt-avatar__holder" style="background-image: url(img/user/default.jpg);"></div>
														
														<label class="kt-avatar__upload" data-toggle="kt-tooltip" data-placement="top" data-original-title="Editar">
															<i class="fa fa-pen"></i>
															<input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg">
														</label>
														
													</div>

												</div>	
											</div>	
										</div>

										<div class="kt-portlet__body kt-portlet__body-form">
											
											<form action="" method="" class="form-cliente detalhamentoCliente">
												
												<label for="cpf">CPF</label>
												<input class="form-control" type="text" name="cpf" id="cpf">
											
												<label for="nome">Nome</label>
												<input class="form-control" type="text" name="nome" id="nome">
											
												<label for="whats">SobreNome</label>
												<input class="form-control" type="text" name="sobreNome" id="sobreNome">
												
												<label for="email">E-mail</label>
												<input class="form-control" type="email" name="email" id="email">
													
												<button type="button" class="btn btn-brand btn-circle btn-icon btn-adicionar-contato" data-toggle="kt-tooltip" data-placement="right" data-original-title="Adicionar contato">
													<i class="fa fa-plus"></i>
												</button>
												
											</form>
										</div><!-- /kt-portlet__body -->
									</div><!-- /kt-portlet -->
<!------------------------------- /Section Cliente ------------------------------------------------------------------------>								
<!------------------------------- Section Negócios ------------------------------------------------------------------------>
									<div class="negocios">
										
										<div class="header-box-padrao kt-portlet kt-portlet--head--noborder kt-portlet--height-fluid">
											<div class="kt-portlet__head kt-portlet__head--noborder">
												<div class="kt-portlet__head-label col-xl-3">
													<h3 class="kt-portlet__head-title">
														NEGÓCIOS
													</h3>
												</div>
											</div>
										</div>
									
										<div class="body-box-negocios kt-portlet__body kt-portlet__body--fluid kt-portlet__body--fit">
											<!-- Conteúdo aqui -->
										</div>
										
									</div>

								</div><!-- /col-md-3 col-lg-3 -->
<!------------------------------- /Section Negócios ------------------------------------------------------------------------>


								<div class="col-md-9 col-lg-9">

<!------------------------------- Section Notas e Atividades -------------------------------------------------------------->
									<div class="row">
										<div class="col-xl-12">
											<div class="header-box-padrao kt-portlet kt-portlet--head--noborder kt-portlet--height-fluid">
												<div class="kt-portlet__head kt-portlet__head--noborder">
													<div class="kt-portlet__head-label col-xl-3">
														<h3 class="kt-portlet__head-title">
															NOTAS
														</h3>
													</div>
													<div class="kt-portlet__head-label col-xl-3">
														<h3 class="kt-portlet__head-title">
															ATIVIDADES
														</h3>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-xl-12">
											<div class="body-box-padrao kt-portlet__body kt-portlet__body--fluid kt-portlet__body--fit">
												<!-- Inserir conteúdo aqui. -->
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-xl-12">
											<div class="footer-box-padrao kt-portlet kt-portlet--footer--noborder ">
												<div class="box-botao-salvar">
													<button type="button" class="btn btn-salvar btn-brand">SALVAR</button>
												</div>
											</div>
										</div>
									</div>
<!------------------------------- /Section Notas e Atividades ------------------------------------------------------------------------>

<!------------------------------- Section Linha do Tempo ------------------------------------------------------------------------>
									<div class="row">
										<div class="col-xl-12">
											<div class="header-box-padrao kt-portlet kt-portlet--head--noborder kt-portlet--height-fluid">
												<div class="kt-portlet__head kt-portlet__head--noborder">
													<div class="kt-portlet__head-label">
														<h3 class="kt-portlet__head-title title-center">
															LINHA DO TEMPO
														</h3>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-xl-12">
											<div class="body-box-linha-do-tempo kt-portlet__body kt-portlet__body--fluid kt-portlet__body--fit">
												
                								<div class="kt-portlet accordion-linha-tempo">
			
													<div class="kt-portlet__body">
														
														<div class="accordion accordion-light accordion-toggle-plus" id="accordionExample3">
															<div class="card card-accordion-linha-tempo" style="border-top: 1px solid #005594!important;">
																<div class="card-header" id="headingOne3">
																	<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseOne3" aria-expanded="false" aria-controls="collapseOne3">

																		<span class="foto-linha-tempo">
																			<img src="img/user/default.jpg">
																		</span>

																		<span class="nome-linha-tempo">
																			<h5>Nome Aluno</h5>
																			<h6>Atividade</h6>
																		</span>
																		
																	</div>
																</div>
																<div id="collapseOne3" class="collapse" aria-labelledby="headingOne3" data-parent="#accordionExample3" style="">
																	<div class="card-body">
																		Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
																	</div>
																</div>
															</div>
															<div class="card card-accordion-linha-tempo">
																<div class="card-header" id="headingTwo3">
																	<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo3" aria-expanded="false" aria-controls="collapseTwo3">
																		
																		<span class="foto-linha-tempo">
																			<img src="img/user/default.jpg">
																		</span>

																		<span class="nome-linha-tempo">
																			<h5>Nome Aluno</h5>
																			<h6>Atividade</h6>
																		</span>

																	</div>
																</div>
																<div id="collapseTwo3" class="collapse" aria-labelledby="headingTwo3" data-parent="#accordionExample3" style="">
																	<div class="card-body">
																		Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
																	</div>
																</div>
															</div>
															<div class="card card-accordion-linha-tempo">
																<div class="card-header" id="headingThree3">
																	<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
																		
																		<span class="foto-linha-tempo">
																			<img src="img/user/default.jpg">
																		</span>

																		<span class="nome-linha-tempo">
																			<h5>Nome Aluno</h5>
																			<h6>Atividade</h6>
																		</span>

																	</div>
																</div>
																<div id="collapseThree3" class="collapse" aria-labelledby="headingThree3" data-parent="#accordionExample3">
																	<div class="card-body">
																		Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
																	</div>
																</div>
															</div>
														</div> 
													</div>
												</div>

											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-xl-12">
											<div class="footer-box-padrao kt-portlet kt-portlet--footer--noborder ">
												
											</div>
										</div>
									</div>
<!------------------------------- /Section Linha do Tempo ------------------------------------------------------------------------>	

								</div><!-- /col-md-9 col-lg-9 -->

							</div>
							
							
							<script>

							window.onload = function(){
								
							}
</script>