<div class="kt-portlet lista">

	<div class="kt-portlet__head lista-header"></div>

	<div class="kt-portlet__body body-list">

		<div class="kt-section">
			<div class="kt-section__content">
				<table class="table table-striped filtro">
					<thead>
						<tr>
							<th>NOME</th>
							<th>CONTATO</th>
							<th>INFORMAÇÕES</th>
							<th>OFERTA RELACIONADA</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row"><span class="foto-lista"> <img
									src="./assets/img/user/default.jpg"
									th:src="@{/img/user/default.jpg}">
							</span> <span class="nome-lista"> Maria dos Santos Ribeiro </span></th>
							<td>
								<h6>a@hotmail.com</h6>
							</td>
							<td>
								<h6>2</h6>
							</td>
							<td>
								<h6>Contrato para ADS</h6>
							</td>
						</tr>
						<tr>
							<th scope="row"><span class="foto-lista"> <img
									src="./assets/img/user/default.jpg"
									th:src="@{/img/user/default.jpg}">
							</span> <span class="nome-lista"> João da Cruz </span></th>
							<td>
								<h6>ba@hotmail.com</h6>
							</td>
							<td>
								<h6>0</h6>
							</td>
							<td>
								<h6>Nenhuma</h6>
							</td>
						</tr>
						<tr>
							<th scope="row"><span class="foto-lista"> <img
									src="./assets/img/user/default.jpg"
									th:src="@{/img/user/default.jpg}">
							</span> <span class="nome-lista"> Everton Souza </span></th>
							<td>
								<h6>97598-3269</h6>
							</td>
							<td>
								<h6>1</h6>
							</td>
							<td>
								<h6>Contrato para Hotelaria</h6>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="botao-lista">
				<button type="button"
					class="btn btn-brand btn-circle btn-icon btn-adicionar-contato"
					data-toggle="kt-tooltip" data-placement="right"
					data-original-title="Adicionar contato">
					<i class="fa fa-plus"></i>
				</button>
			</div>

		</div>

	</div>

</div>