<div class="kt-portlet lista">

	<div class="kt-portlet__head lista-header"></div>

	<div class="kt-portlet__body body-list">

		<div class="kt-section">
			<div class="kt-section__content">
				<table class="table table-striped filtro">
					<thead>
						<tr>
							<th>NOME</th>
							<th>SOBRENOME</th>
							<th>CPF</th>
							<th>OFERTA RELACINADA</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente : ${clientes}" style="cursor: pointer;">
							<th scope="row"><span class="foto-lista"> <img
									src="./assets/img/user/default.jpg"
									th:src="@{/img/user/default.jpg}">
							<input type="hidden" id="clienteId" name="clienteId" th:value="${cliente.id}">
							</span> <span class="nome-lista" th:text="${cliente.nome}"> </span></th>
							<td>
								<h6 th:text="${cliente.sobrenome}"></h6>
							</td>
							<td>
								<h6 th:text="${cliente.cpf}"></h6>
							</td>
							<td>
								<h6 th:text="${cliente.status}"></h6>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="botao-lista">
				<button type="button"
					class="btn btn-brand btn-circle btn-icon btn-adicionar-contato"
					data-toggle="kt-tooltip" data-placement="right"
					data-original-title="Adicionar contato">
					<i class="fa fa-plus"></i>
				</button>
			</div>

		</div>

	</div>

</div>
<script>

$( document ).ready(function() {

	$(function(){  
	    $("#central > div > div.kt-portlet__body.body-list > div > div.kt-section__content > table > tbody > tr").hover(
	        function(){$(this).css("background-color", "#EBEDFF")},
	        function(){$(this).css("background-color", '')}
	    );
	});	
	
	$("#central > div > div.kt-portlet__body.body-list > div > div.kt-section__content > table > tbody > tr").click(function(){
		var idCliente = $(this).find('#clienteId').val();
		carregarDetalheCliente(idCliente); //Método se encontra dentro de paginas -> cliente -> index.html 
	});
	
});
</script>