<div class="kt-portlet lista">

	<div class="kt-portlet__head lista-header"></div>

	<div class="kt-portlet__body body-list">

		<div class="kt-section">
			<div class="kt-section__content">
				<table class="table table-striped filtro">
					<thead>
						<tr>
							<th>DESCRICAO</th>
							<th>DATA DE INICIO</th>
							<th>DATA FINAL</th>
							<th>PRECO</th>
							<th>PRODUTO ATRIBUIDO</th>
							<th>STATUS</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="oferta : ${ofertas}" style="cursor: pointer;">
							<th scope="row"><span class="foto-lista"> <i
									class="fa fa-2x fa-suitcase"></i>
							<input type="hidden" id="produtoId" name="produtoId" th:value="${oferta.id}">
							</span> <span class="nome-lista" th:text="${oferta.descricao}"> </span></th>
						 	<td>
								<h6 th:text="${oferta.dataInicio}"></h6>
							</td>
							<td>
								<h6 th:text="${oferta.dataFim}"></h6>
							</td>
							<!-- <td>
								<h6 th:text="${#dates.format(new java.util.Date(oferta.dataInicio), 'dd-MM-yyyy')}"></h6>
							</td>
							<td>
								<h6 th:text="${#dates.format(new java.util.Date(oferta.dataFim), 'dd-MM-yyyy')}"></h6>
							</td> -->
							<td>
								<h6 th:text="${oferta.preco}"></h6>
							</td>
							<td>
								<h6 th:text="${oferta.produtoId.descricao}"></h6>
							</td>
							<td>
								<h6 th:text="${oferta.status}"></h6>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="botao-lista">
				<button type="button"
					class="btn btn-brand btn-circle btn-icon btn-adicionar-contato"
					data-toggle="kt-tooltip" data-placement="right"
					data-original-title="Adicionar contato">
					<i class="fa fa-plus"></i>
				</button>
			</div>

		</div>

	</div>

</div>

<script>

$( document ).ready(function() {

	$(function(){  
	    $("#central > div > div.kt-portlet__body.body-list > div > div.kt-section__content > table > tbody > tr").hover(
	        function(){$(this).css("background-color", "#EBEDFF")},
	        function(){$(this).css("background-color", '')}
	    );
	});	
	
	$("#central > div > div.kt-portlet__body.body-list > div > div.kt-section__content > table > tbody > tr").click(function(){
		var produtoId = $(this).find('#produtoId').val();
		$("#central").load(dominio + "/oferta/detalharOferta/"+produtoId);
		//carregarDetalheProduto(produtoId); //Método se encontra dentro de paginas -> cliente -> index.html 
	});
	
});
</script>