<div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app ">

								<!-- /col-md-3 col-lg-3 -->
<!------------------------------- /Section Negócios ------------------------------------------------------------------------>


								<div class="col-md-9 col-lg-12">

<!------------------------------- Section Notas e Atividades -------------------------------------------------------------->
									<div class="row">
										<div class="col-xl-6">
											<div class="header-box-padrao kt-portlet kt-portlet--head--noborder kt-portlet--height-fluid">
												<div class="kt-portlet__head kt-portlet__head--noborder">
													<div class="kt-portlet__head-label col-xl-12">
														<h3 class="kt-portlet__head-title" style="
    margin-left: auto;
    margin-right: auto;
">
															Cadastro de Nível de Instrução
														</h3>
													</div>
													
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-xl-6">
											<div class="body-box-padrao kt-portlet__body kt-portlet__body--fluid kt-portlet__body--fit" style="
">
											<div class="form-group " style="
    margin-left: 5%;
    margin-right: 25%;
    padding-top: 3%;
">
						
						<div class="input-group">
							
							<input type="text" class="form-control" placeholder="Insira o Nível de Instrucao..." aria-describedby="basic-addon1" style="
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: black;
">
						</div>
						<span class="form-text text-muted">Não é permitido caracteres especiais. ex: !@#$%¨&amp;*()</span>
					</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-xl-6">
											<div class="footer-box-padrao kt-portlet kt-portlet--footer--noborder ">
												<div class="box-botao-salvar" style="
    padding-top: 0px;
">
													<button type="button" class="btn btn-salvar btn-brand">SALVAR</button>
												</div>
											</div>
										</div>
									</div>
<!------------------------------- /Section Notas e Atividades ------------------------------------------------------------------------>

<!------------------------------- Section Linha do Tempo ------------------------------------------------------------------------>
									<div class="kt-portlet lista" style="margin: 0 0px;">

							<div class="kt-portlet__head lista-header"></div>
							
							<div class="kt-portlet__body body-list">

								<div class="kt-section">
									<div class="kt-section__content">
										<table class="table table-striped filtro">
											<thead>
												<tr>
													<th>IDENTIFICADOR</th>
													<th>DESCRICAO</th>
													<th>STATUS</th>
													<th>ACOES</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row">
														
														<span class="nome-lista">01</span>			
													</th>
													<td>
														<h6>Superior</h6>
													</td>
													<td><span style="width: 113px;"><span class="kt-badge kt-badge--success kt-badge--dot" style="
    margin: 0px;
"></span>&nbsp;<span class="kt-font-bold kt-font-success">Ativo</span></span></td>
													<td><div class="kt-demo-icon__preview">
							<i class="flaticon-edit"></i>
						</div>
														
													</td>
												</tr>
<tr>
													<th scope="row">
														
														<span class="nome-lista">02</span>			
													</th>
													<td>
														<h6>Bacharel</h6>
													</td>
													<td><span style="width: 113px;"><span class="kt-badge kt-badge--danger kt-badge--dot" style="
    margin: 0px;
"></span>&nbsp;<span class="kt-font-bold kt-font-danger">Inativo</span></span>
														
													</td>
													<td><div class="kt-demo-icon__preview">
							<i class="flaticon-edit"></i>
						</div>
														
													</td>
												</tr>
												<tr>
													<th scope="row">
														
														<span class="nome-lista">03</span>			
													</th>
													<td>
														<h6>Tecnólogo</h6>
													</td>
													<td><span style="width: 113px;"><span class="kt-badge kt-badge--success kt-badge--dot" style="
    margin: 0px;
"></span>&nbsp;<span class="kt-font-bold kt-font-success">Ativo</span></span>
														
													</td>
													<td><div class="kt-demo-icon__preview">
							<i class="flaticon-edit"></i>
						</div>
														
													</td>
												</tr>
												<tr>
													<th scope="row">
														
														<span class="nome-lista">04</span>			
													</th>
													<td>
														<h6>Pós Graduação</h6>
													</td>
													<td><span style="width: 113px;"><span class="kt-badge kt-badge--success kt-badge--dot" style="
    margin: 0px;
"></span>&nbsp;<span class="kt-font-bold kt-font-success">Ativo</span></span>
														
													</td>
													<td><div class="kt-demo-icon__preview">
							<i class="flaticon-edit"></i>
						</div>
														
													</td>
												</tr>
											</tbody>
										</table>
<div class="row">
    <div class="col-md-4">
<label style="
    margin-left: 15%;
">Itens por página: </label>
<div class="dropdown dropdown-inline">

							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">10</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 0px, 0px);">
								<a class="dropdown-item">10</a>
								<a class="dropdown-item">20</a>
								<a class="dropdown-item">50</a>
							</div>
						</div>
</div>
<div class="col-md-6">
    <div style="
    float: right;
    margin-right: 3%;
">
<button type="button" id="anterior" class="btn btn-info" style="
    border-radius: 50%;
">&lt;</button>
<div class="btn-group btn-pill" role="group" aria-label="Button group with nested dropdown">
							<button type="button" class="btn btn-info" style="
    /* border-top-left-radius: 0px !important; */
">1</button>
							<button type="button" class="btn btn-info selected">2</button>
							<button type="button" class="btn btn-info">3</button>
							<button type="button" class="btn btn-info">4</button>
							<button type="button" class="btn btn-info">5</button>
							<button type="button" class="btn btn-info">6</button>
							<button type="button" class="btn btn-info">7</button>
							<button type="button" class="btn btn-info">8</button>
							<button type="button" class="btn btn-info">9</button>
						</div>
<button type="button" id="proximo" class="btn btn-info" style="
    border-radius: 50%;
">&gt;</button>
    </div>
    </div><div class="col-md-2">
<div style="
    float: right;
    margin-right: 5%;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 5%;
">
    <label style="
    margin: 0px;
" id="quantidadeDeRegistroLabel">Total de Registros:</label><label style="
    margin: 0px;
" id="quantidaDeRegistrosCampo">20</label>
    </div>
</div>
    
    </div>
									</div>

									
									
								</div>

							</div>

						</div>


									

									
<!------------------------------- /Section Linha do Tempo ------------------------------------------------------------------------>	

								</div><!-- /col-md-9 col-lg-9 -->

							</div>