<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Editar Produto</title>
</head>

<body>
    <div class="container">
        <div class="panel-heading" align="center"><strong>ALTERAÇÃO DE PRODUTOS</strong></div>
        <div class="panel-body">
            <form class="form-horizontal" th:object="${produto}" th:action="@{/produto/alterar}" method="post" style="margin: 10px;">
                <fieldset>
                    <div class="form-group row">
                        <label> ID</label>
                        <input type="text" class="form-control input-sm" th:field="*{id}" readonly="readonly" />
                    </div>
                    <div class="form-group row">
                        <label>DESCRIÇÃO</label>
                        <input type="text" class="form-control input-sm" th:field="*{descricao}" autofocus="autofocus" placeholder="Informe a descrição" maxlength="50" />
                    </div>
                    <div class="form-group">
								<label>NÍVEL INSTÂNCIA</label>
								<select class="form-control" th:field="*{nivelInstrucao}">
								<option value="">Selecione o nível de Instrução</option>
								<option th:each="nivelInstrucao : ${nivelInstrucoes}" th:value="${nivelInstrucao.id}" th:text="${nivelInstrucao.descricao}"></option>
								</select>
								
                    </div>
                    <div class="form-group row">
                        <label>STATUS</label>
                        <input type="text" class="form-control input-sm" th:field="*{status}" autofocus="autofocus" placeholder="Informe o status" maxlength="1" />
                    </div>
                </fieldset>
                <div align="center">
                    <button type="submit" class="btn btn-sm btn-success">SALVAR</button>
                    <a th:href="@{/produto/listarTodosProdutos}" class="btn btn-sm btn-default">CANCELAR</a>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>